<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Partner</h3>
    </div>

    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img ng-src={{my.profileImage}} alt="" class="circle responsive-img" id="myImg"> <!-- notice the "circle" class -->
          </div>
          <div class="col s10">
            <span class="black-text">
              {{my.name}}님의 분야는 <strong>{{my.myField.join(', ')}}</strong>이며 원하시는 파트너의 분야는<strong> {{my.partnerField.join(', ')}}</strong>입니다
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <span>지역을 추가해보세요!</span>
        <select class="browser-default" ng-model="vm.user.local" ng-change="changedValue(vm.user.local)" material-select watch >
          <option  disabled selected>시 선택</option>
          <option ng-repeat="local in locals" value="{{local}}">{{local}}</option>
        </select>
      </div>
      <div class="col s4">
        <br>
        <select class="browser-default" ng-model="selectedState" ng-change="changedState(selectedState)"  material-select watch>
          <option  disabled selected>구 선택</option>
          <option ng-repeat="state in states" value="{{state.state}}">{{state.state}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <span>기간을 추가해보세요!</span>
        <select class="browser-default" ng-model="vm.user.period" ng-change="changedperiod(vm.user.period, slectedState)" material-select watch >
          <option  disabled selected>기간 선택</option>
          <option ng-repeat="period in mytypes" value="{{period}}">{{period}}</option>
        </select>
      </div>
    </div></br>

    <p style="font-size:17px; font-weight:bold;">파트너 추천 결과입니다</p>

    <div class="col s11" ng-repeat="x in partner">
      <hr>
      <ul class="collection">
        <li class="collection-item avatar" style="padding-left:125px;">
          <img ng-src={{x.profileImage}} alt="" class="circle" id="partnerImg">
          <span class="title">이름: {{x.name}}</span>
          <p class="email">Email: {{x.email}}</p>
          <p class="partner">URL: {{x.url}}</p>
          <p class="local">지역: {{x.local}} {{x.state}}</p>
           <p class="period">기간: {{x.mytype}}</p> 
          <p>파트너의 분야: {{x.myField.join(', ')}} <br>
          파트너가 원하는 분야: {{x.partnerField.join(', ')}}
          </p>
          <p>한마디: {{x.description}}</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </ul>
    </div>

  </div>
</div>



<footer class="page-footer grey darken-4"></footer>
