<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>My Project</h3>
    </div>
    <a href="pjupload"><button style="margin-bottom: 25px;"class="btn waves-effect waves-lignt indigo accent-4 right">Upload Project</button></a>

    <table id="mytable" class="bordered centered" style="margin-bottom:50px;">
      <thead>
        <tr>
          <th data-field="index">No</th>
          <th data-field="id">Title</th>
          <th data-field="date">Date</th>
          <th data-field="update">Update</th>
          <th data-field="delete">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="y in mypjlist" >
          <td> {{$index + 1}} </td>
          <td>{{y.title}}</td>
          <td>{{y.date | date:'yyyy-MM-dd HH:mm'}}</td>
          <td><a ui-sref="pjupdate({ mypjId: y._id })">Update</a></td>
          <td><a ui-sref="pjdelete({ mypjId: y._id })">Delete</a></td>
        </tr>
      </tbody>
    </table>

    <div class="tag_match">
      <hr class="style-hr">
      <img src="../assets/images/partner-icon.png" style="width:50px;">
      <span class="indigo-text text-accent-4">{{me.name}}님의 태그들로 파트너를 추천해드릴게요!<span>
      <div class="row">
        <div class="card white" ng-repeat="pj in getprojects" ng-if="me.name != pj._creator.name">
          <div class="card-content">
            <span class="card-title">{{pj._creator.name}}   <img ng-src={{pj._creator.profileImage}} class="circle responsive-img">
            </span>
            <p><a ui-sref="pjview({ pid: pj._id })" target="blank">제목: {{pj.title}}</a><p>
            <p>field: {{pj.field.join(' ')}}</p>
            <p>tag: {{pj.tags.join(' ')}}</p>

          </div>
          <div class="card-action">
            <a ng-href="{{pj._creator.url}}" target="blank">파트너링크</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer grey darken-4"></footer>
