<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Update Review</h3>
    </div>
    <form class="col s12" name="form" ng-submit="vm.update(form)">
      <div id="upload_form">
        <div class="row">
          <div class="input-field col s12">
            <span class="prefix">Title</span>
            <input id="rv_title" type="text" class="validate" ng-model="vm.rvupdate.title">
            <label for="rv_title"></label>
          </div>
        </div>
  <div class="row">
          <div class="input-field col s12">
            <span>Project Type</span>
            <br>
            <span ng-repeat="rvtype in rvtypes">
              <input name="group1"  type="radio" id="{{rvtype.name}}" ng-value="'{{rvtype.name}}'" ng-model="vm.rvupdate.type" />
              <label for="{{rvtype.name}}" style="color:black;">{{rvtype.name}}</label>
            </span>
          </div>
        </div></br>

        <div class="row">
          <div class="input-field col s12">
            <span>field check</span>
            <span>(수행하신 프로젝트의 분야를 선택해주세요</span>
            <br>
            <span ng-repeat="item in items">
              <input type="checkbox" class="filled-in" id="{{item.name}}" ng-model="item.ischecked" ng-value="item.name" ng-disabled="ItemsOver(items) && !item.ischecked"/>
              <label for="{{item.name}}">{{item.name}}</label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <span>Tags</span>
            <span>(프로젝트의 세부분야를 두개 이상 넣어주세요. 예시 - php, mysql)</span>
            <tags-input id="rv_tag" min-length="1" ng-model="tags"></tags-input>
            <label for="rv_tag"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <span class="prefix">Link</span>
            <input id="rv_link" name="rv_link"  type="url" class="validate" ng-model="vm.rvupdate.link" >
            <label for="rv_link">완성된 프로젝트를 볼 수 있는 링크를 넣어주세요</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <span class="prefix">Content</span>
            <textarea id="content"  class="materialize-textarea" ng-model="vm.rvupdate.content"></textarea>
            <label for="content">멋진 리뷰 기대할게요!</label>
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light indigo accent-4" type="submit" id="upload_btn" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>

  </div>
</div>

<footer class="page-footer grey darken-4"></footer>
