$break-small: 320px;
$break-medium: 640px;
$break-large:1200px;

.md-menu-toolbar{
  width: 100%;
  text-align: center;
}
.md-bar{
  margin: 0 auto;
  text-align: left;
}
.img{
  height:500px;
  background:url(../assets/images/Hintergrund2.jpg);
  @media screen and (max-width: $break-medium) {
  display:none; 
  
  }

}
