$break-small: 320px;
$break-medium: 640px;
$break-large:1200px;

.img{
  height:500px;
  background:url(../assets/images/Hintergrund2.jpg);
  @media screen and (max-width: $break-medium) {
    display:none; 

  }

}
.container{
  margin-top:50px;
}
