<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Register</h3>
    </div>
    <div class="col s12">
      <form class="form" name="form"  ng-submit="vm.register(form)">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" class="validate" ng-model="vm.user.name">
            <label for="name">User Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="vm.user.email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate" ng-model="vm.user.password" ng-minlength="3" required/>
            <label for="password">Password</label>
            <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && (form.password.$dirty || vm.submitted)">
            Password must be at least 3 characters.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="confirmPassword" class="validate" ng-model="vm.user.confirmPassword" match="vm.user.password" 
             ng-minlength="3" required=""/>
            <label for="password">Confirm Password</label>
            <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">Passwords must match.</p>
          </div>
        </div>

        <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>


<footer class="page-footer grey darken-4"></footer>

