<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Edit Profile</h3>
    </div>
    <div class="col s12">
      <form class="form" name="form" ng-submit="vm.editprofile(form)"  method="post" enctype="multipart/form-data" >
        <div class="row">
          <div class="input-field col s6">
            <span class="prefix">Name</span>
            <input disabled id="name" type="text" class="validate" ng-model="vm.user.name">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <span class="prefix">Email</span>
            <input disabled id="email" type="email" class="validate" ng-model="vm.user.email">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <span class="prefix">URL</span>
            <input id="url" name="url"  type="text" class="validate" ng-model="vm.user.url" >
            <label for="url">url</label>
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn blue">
            <span>Upload</span>
            <input type="file" ngf-select ng-model="vm.user.profileImage"  accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.maxSize">File too large 
              {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          <img ng-src={{vm.user.profileUrl}} class="circle responsive-img">
          <img ng-show="myForm.file.$valid" ngf-thumbnail="vm.user.profileImage" class="circle responsive-img"> <div class="chip" ng-click="vm.user.profileImage = null" ng-show="vm.user.profileImage">Remove</div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>
            <span>gender</span>
            <input class="with-gap" name="gender" type="radio" id="male" ng-value="'male'" ng-model="vm.user.gender" />
            <label for="male">male</label>
            <input class="with-gap" name="gender" type="radio" id="female" ng-value="'female'" ng-model="vm.user.gender"/>
            <label for="female">female</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <span>My Fields</span>
            <i>(choose My fields)</i>
            <br>
            <span ng-repeat="item in items">
              <input type="checkbox" class="filled-in" name="myfield" id="mfield-{{item.name}}" ng-model="item.ischecked" ng-value="item.name" ng-disabled="areItemsOverflowed(items) && !item.ischecked"/>
              <label for="mfield-{{item.name}}">{{item.name}}</label>
            </span>

          </div>
        </div></br>
        <div class="row">
          <div class="col s5">
            <span>Location</span>
            <select class="" ng-model="vm.user.local" ng-init="changedValue(vm.user.local)" ng-change="changedValue(vm.user.local)" material-select watch >
              <option  disabled selected>시 선택</option>
              <option ng-repeat="local in locals" value="{{local}}">{{local}}</option>
            </select>
          </div>
          <div class="col s5">
            <br>
            <select class="" ng-model="vm.user.state" material-select watch>
              <option  disabled selected>구 선택</option>
              <option ng-repeat="state in states" value="{{state.state}}">{{state.state}}</option>
            </select>
          </div>
        </div></br>
        <div class="row">
          <div class="input-field col s12">
            <span>My type</span>
            <i>(choose My type)</i>
            <br>
            <span ng-repeat="mytype in mytypes">
              <input type="checkbox" class="filled-in" id="{{mytype.name}}" ng-model="mytype.ischecked" ng-value="mytype.name" ng-disabled="areItemsOverflowed(mytypes) && !mytype.ischecked"/>
              <label for="{{mytype.name}}">{{mytype.name}}</label>
            </span>

          </div>
        </div></br>

        <div class="row">
          <div class="input-field col s12">
            <span>Partner Fields</span>
            <i>Choose Partner fields you want</i>
            <br>
            <span ng-repeat="pfield in partnerField">
              <input type="checkbox" class="filled-in" name="partnerfield" id="pfield-{{pfield.name}}" ng-model="pfield.ischecked" ng-value="pfield.name" ng-disabled="areItemsOverflowed(partnerField) && ! pfield.ischecked"/>
              <label for="pfield-{{pfield.name}}">{{pfield.name}}</label>
            </span>


          </div>
        </div></br>

        <div class="row">
          <div class="input-field col s12">
            <i id="message"class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea" ng-model="vm.user.description"></textarea>
            <label for="icon_prefix2">Description</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>

    </div>
  </div>
</div>



<footer class="page-footer grey darken-4"></footer>



